{
    "openapi": "3.0.1",
    "info": {
        "title": "Insights API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://data.elexon.co.uk/bmrs/api/v1"
        }
    ],
    "paths": {
        "/generation/availability/rawUOU2T14D": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/rawUOU2T14D - GET",
                "operationId": "get-generation-availability-rawuou2t14d",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "NgcBmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithBmUnit14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithBmUnit14DayDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithBmUnit14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithBmUnit14DayDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/UOU2T14D": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/UOU2T14D - GET",
                "operationId": "get-generation-availability-uou2t14d",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "BmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "BiddingZone",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Interconnector",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "elexonBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "elexonBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <elexonBmUnit>string</elexonBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <elexonBmUnit>string</elexonBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/rawUOU2T3YW": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/rawUOU2T3YW - GET",
                "operationId": "get-generation-availability-rawuou2t3yw",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Week",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Year",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "NgcBmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithBmUnit3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithBmUnit3YearDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithBmUnit3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithBmUnit3YearDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/UOU2T3YW": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/UOU2T3YW - GET",
                "operationId": "get-generation-availability-uou2t3yw",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Week",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Year",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "BmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "BiddingZone",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Interconnector",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "elexonBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "elexonBmUnit": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <elexonBmUnit>string</elexonBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <ngcBmUnit>string</ngcBmUnit> <elexonBmUnit>string</elexonBmUnit> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithBmUnit3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/rawFOU2T14D": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/rawFOU2T14D - GET",
                "operationId": "get-generation-availability-rawfou2t14d",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithFuelType14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithFuelType14DayDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithFuelType14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithFuelType14DayDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/FOU2T14D": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/FOU2T14D - GET",
                "operationId": "get-generation-availability-fou2t14d",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "BiddingZone",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Interconnector",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithFuelType14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithFuelType14DayDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithFuelType14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithFuelType14DayDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/rawFOU2T3YW": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/rawFOU2T3YW - GET",
                "operationId": "get-generation-availability-rawfou2t3yw",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Week",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Year",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithFuelType3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithFuelType3YearDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": "<RawAvailabilityWithFuelType3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> </data> </RawAvailabilityWithFuelType3YearDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/FOU2T3YW": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/FOU2T3YW - GET",
                "operationId": "get-generation-availability-fou2t3yw",
                "parameters": [
                    {
                        "name": "FuelType",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Week",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Year",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "BiddingZone",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Interconnector",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0,
                                            "biddingZone": "string",
                                            "interconnectorName": "string",
                                            "interconnector": true
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithFuelType3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithFuelType3YearDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "example": "<AugmentedAvailabilityWithFuelType3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <fuelType>string</fuelType> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> <biddingZone>string</biddingZone> <interconnectorName>string</interconnectorName> <interconnector>true</interconnector> </data> </AugmentedAvailabilityWithFuelType3YearDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/AugmentedAvailabilityWithFuelType3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/NOU2T14D": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/NOU2T14D - GET",
                "operationId": "get-generation-availability-nou2t14d",
                "parameters": [
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability14DayDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "forecastDate": "string",
                                            "forecastDateTimezone": "string",
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability14DayDataPaginatedResult"
                                },
                                "example": "<Availability14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> </data> </Availability14DayDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability14DayDataPaginatedResult"
                                },
                                "example": "<Availability14DayDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <publishTime>string</publishTime> <systemZone>string</systemZone> <forecastDate>string</forecastDate> <forecastDateTimezone>string</forecastDateTimezone> <outputUsable>0</outputUsable> </data> </Availability14DayDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability14DayDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/availability/NOU2T3YW": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "/generation/availability/NOU2T3YW - GET",
                "operationId": "get-generation-availability-nou2t3yw",
                "parameters": [
                    {
                        "name": "PublishDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Week",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Year",
                        "in": "query",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability3YearDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "systemZone": "string",
                                            "calendarWeekNumber": 0,
                                            "year": 0,
                                            "outputUsable": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability3YearDataPaginatedResult"
                                },
                                "example": "<Availability3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> </data> </Availability3YearDataPaginatedResult>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability3YearDataPaginatedResult"
                                },
                                "example": "<Availability3YearDataPaginatedResult> <metadata> <paginationInfo> <pageNumber>0</pageNumber> <pageSize>0</pageSize> <nextPage>string</nextPage> <previousPage>string</previousPage> </paginationInfo> <totalCount>0</totalCount> </metadata> <data> <dataset>string</dataset> <publishTime>string</publishTime> <systemZone>string</systemZone> <calendarWeekNumber>0</calendarWeekNumber> <year>0</year> <outputUsable>0</outputUsable> </data> </Availability3YearDataPaginatedResult>"
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Availability3YearDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/demand/rollingSystemDemand": {
            "get": {
                "tags": [
                    "Demand"
                ],
                "summary": "/demand/rollingSystemDemand - GET",
                "operationId": "get-demand-rollingsystemdemand",
                "parameters": [
                    {
                        "name": "PublishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PublishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RollingDemandDataPaginatedResult"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RollingDemandDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "recordType": "string",
                                            "publishTime": "string",
                                            "demand": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RollingDemandDataPaginatedResult"
                                },
                                "example": {
                                    "metadata": {
                                        "paginationInfo": {
                                            "pageNumber": 0,
                                            "pageSize": 0,
                                            "nextPage": "string",
                                            "previousPage": "string"
                                        },
                                        "totalCount": 0
                                    },
                                    "data": [
                                        {
                                            "recordType": "string",
                                            "publishTime": "string",
                                            "demand": 0
                                        }
                                    ]
                                }
                            },
[...]
