{% extends "base.jinja" %}

{% block title %}{{ title }}{% endblock %}
{% block static_dir %}{{ static_dir }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-post-container">
            <br>
            <h1>Blog Posts</h1>
            <br>
            {% for blog_post in blog_posts %}
                <h3>{{ blog_post.blog_title }}</h3>
                {{ blog_post.blog_content | safe }}
                <br>
            {% endfor %}
            <hr>
        </div>
    </div>
{% endblock %}
