name: generate_output_dataset
on: [workflow_dispatch]

jobs:
  miniconda:
    name: Miniconda ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: ["ubuntu-latest"]
            
    steps:
      - name: Load in repo
        uses: actions/checkout@v2
    
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
        
      - name: Running pipeline
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          dagster pipeline execute -m powerdict.pipeline -c pipeline_configs/generate_output_dataset.yaml
      
      - name: Saving changes to repo
        uses: stefanzweifel/git-auto-commit-action@v4 
